<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <title>TV Shows</title>
</head>
<body>
    <div class="container py-3">
        <h2>Howdy {{this_user['first_name']}}!</h2>
        <div class="container">
            <header class="d-flex flex-wrap justify-content-md-between py-3 mb-2">
                <span class="fs-5">All TV Shows: </span>
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link" href="/shows/new">+ Create</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">logout</a></li>
                </ul>
            </header>
        </div>
        <table class="table table-secondary table-striped">
            <thead class="table-dark">
                <tr>
                    <th>Title</th>
                    <th>Network</th>
                    <th>Release Date</th>
                    <th>Actions</th>
                    <th>Like! </th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for i in all_shows: %}
                <tr>
                    <td>{{i['title']}}</td>
                    <td>{{i['network']}}</td>
                    <td>{{i['release_date']}}</td>
                    <td>
                        <a href="/shows/{{i['id']}}">show</a>
                        {% if i['user_id'] == this_user['id']: %}
                        | <a href="/shows/edit/{{i['id']}}">edit</a>
                        | <a href="/delete/{{i['id']}}">delete</a>
                        {% endif %}
                    </td>
                    <td class="likes">
                    {% if i['user_id'] != this_user['id']: %}
                        {% if this_user['id'] in i['likes']: %}    
                        <a href="/unlike/{{i['id']}}/{{this_user['id']}}" class="likes">unlike</a>
                        {% else: %}
                        <a href="/like/{{i['id']}}/{{this_user['id']}}" class="likes">like</a>
                        {% endif %}
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>